<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">          
       <!-- <a routerLink="/home" id="logo" class="brand-logo" >Logo1</a>   -->     

      <a style="font-family: 'Comfortaa', cursive;font-weight: 300;font-size:3.0em;position: absolute;left:35px;">
          <span class="red-orange-brown">S&#x0101;rang</span>
        </a>
 

        <ul id="sa-nav" class="right">          
                <li class="sa-navlink" ><a>Courses</a>  
                     <ul class="sub-menu" style="width:250%;left:-80%;">
<li class="sub-menulink"><a  href="">Hindustani Classical Vocal</a></li>
<li class="sub-menulink"><a    href="">Carnatic Classical Vocal </a></li>
<li class="sub-menulink"><a  href="">Carnatic Classical Violin</a></li>
<li class="sub-menulink"><a    href="">Ghazal </a></li>
<li class="sub-menulink"><a    href="">Sitar </a></li>

                </ul>           
                  </li>
                 
                <li class="sa-navlink"><a href="">Instructors</a></li>
                <li class="sa-navlink"><a href="">Company</a>
                 <ul class="sub-menu" style="width: 150%;left:-20%;">
<li class="sub-menulink"><a   href="">About Us</a></li>
<li class="sub-menulink"><a    href="">Mission </a></li>
<li class="sub-menulink"><a     href="">Our Team</a></li>
                </ul>           </li>
              
                 <li class="sa-navlink"><a routerLink="">FAQs</a></li>

                <li class="sa-navlink" *ngIf="!username"><a routerLink="/login" >Login</a>
                   </li>  
       
                <li class="sa-navlink" *ngIf="username"><a >{{username}}</a>
                   </li>              
        </ul>
    </div> 
      
</nav>
  
</div>


<div  [@routerTransition]="getState(o)" > 
    <ul *ngIf="isloggedin()"class="vb-accountsetmenu" >
              <li class="vb-accountsetlist">Account Setting</li>
              <li  class="vb-accountsetlist"><button class="waves-effect waves-light btn green" (click)="logout()" >Logout</button></li>         </ul>
    <router-outlet #o="outlet"></router-outlet>            
 </div>

 <div  class="row" style="background-color: #757074;margin-bottom: 0px;padding-top:2%;padding-bottom: 2%;  ">
     <div class="col s12 center" style="margin:2%">
        <span class="white-text" style="padding-right:2%;font-size:1.2em;"> Our Story</span><span style="color:white;width:5px;">&#124;</span>
        <span class="white-text" style="padding-left:3%;padding-right:3%;font-size:1.2em;"> Team</span><span style="color:white;width:5px;">&#124;</span>
        <span class="white-text" style="padding-left:2%;font-size:1.2em;">Join Us</span>

     </div>
    <div class="col s4" style="text-align: center;">
        <div class="white-text"  style="padding-bottom:5px;">
     <b>CONNECT</b>&emsp;</div>
      <img class="responsive-img " style="width:30px;margin-left:2%;margin-right:2%;" src="./../public/images/twitter.svg">
      <img class="responsive-img " style="width:30px;margin-left:2%;margin-right:2%;" src="./../public/images/instagram.svg">
      <img class="responsive-img " style="width:30px;margin-left:2%;margin-right:2%;" src="./../public/images/skype.svg">
      <img class="responsive-img " style="width:30px;margin-left:2%;margin-right:2%;" src="./../public/images/twitter.svg">
    </div>
     <div class="col s4" style="text-align: center;">
            <div class="white-text"  style="padding-bottom:5px;"><b> CALL US :</b>
            </div>
            <div class="white-text">(808)-41541124551</div>

  
       </div>
       <div class="col s4" style="text-align: center;">
            <div class="white-text"  style="padding-bottom:5px;"><b> EMAIL US :</b>
            </div> <div class="white-text">support@sarang.com</div>
     
  
       </div>
 </div>
 

  <div  style="padding:2%;background-color: #464546  ;position: relative;text-align: center;">
     
       <span class="white-text center" > © 2014 Copyright Text</span>       
 
      </div>
  
<style>


    .sub-menulink{
        text-align: center;
        color: white;
        font-weight: 300;
        width: 100%;        
        font-size: 1.0em;
        background-color: #645F62  ;
    }
    .sub-menulink a{
        color: whitesmoke;
    }
    .sub-menulink::after{
        content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #8D898C    ;
    display: block;
    position: relative;
    margin: auto;
    bottom: 0px;
    }
    .sa-navlink{
        line-height: 3;
        padding-top: 5%;
         position: relative;
    }
    .sa-navlink:hover{
         border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color:  #e83831;
    background: white;
        }
    #sa-nav{
        margin: 0px;
        padding-right: 5%;
    }
    #sa-nav li{
        display: inline;
    }   

.sa-navlink:focus .sub-menu,
.sa-navlink:focus-within .sub-menu,
.sa-navlink:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}


  
    .nav-wrapper{
line-height: 100px;
    }
  /* #sa-nav  a:after {
    bottom: -1px;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    height: 3px;
    background: #e83831;
}*/
    .vb-accountsetmenu{
        width:20%;position:absolute;right:15;background-color:white;
        margin-top:10px;
    }
    .sub-menu::before{
        content: "";
        border-color: transparent;
        border-bottom-color:#645F62  ; 
        border-style: dashed dashed solid;
        border-width: 0 10px 10px;
        position: absolute;
        height: 0;
        width: 0;
        right: 45%;
        top: -10px;
        z-index: 9999;
    }
    .vb-accountsetlist{
        display: block;position: relative;color:gray;text-align: center;
        padding-top:5%;
        padding-bottom: 1%;
    }
nav{
    
    background-color:  white;
     height: 100px;
}
.btn{
  line-height:0;
 }
#logo{
    left: 4%;
}
#covercontainer{
    background-image:url('/public/images/piano.png');
}
.parallax{
    background-image: url("/public/images/HomeBackGround2.jpg");
    top:40%;

    /* Full height */
    height: 60%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(50);
}
         .red-orange-brown {
  background-image: linear-gradient(to left, #FC5A5A,#A43589);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.logo-back-ground{
background-color: #581845;
padding:0.25%;
padding-left: 2%;
}
nav ul li a{
    color: darkslategrey;
    font-weight: 400;
    font-size: 1.2em;
}
nav ul li a:hover{
   background-color: white;
}
nav ul li ul li a{
    color:white;width:100%;text-align: center;font-size:1em;font-weight:400;    
}
nav ul li ul li a:hover{
    color: #FC5A5A;
    background-color: #645F62  ; 
}
#sa-submenu{
    float: right;
    width: 20%;
    padding: 0px;
    margin-right: 25%;
}
.sa-submenulink{
    text-align: center;
    line-height: 300%;
background-color:  #FC5A5A;
color: white;
padding: 0px;
}
</style>