
    <div class="row" style="height:100%;background-image: url('/public/images/signup.jpg')">
        <div class="col s12" style="padding-top:8%;text-align:center;padding-right:25%;padding-left:25%"  >
        <h3 class=" pink-text text-darken-4  logotext sa-homesubheader-text"> New to S&#x0101;RANG?  </h3>
        <p class="brown-text text-darken-1 logotext sa-subheaderdesc-text">No worries! Create an account to start learning live interactive Indian Classical courses such as Hindustani, Carnatic and more </p>        
        <form *ngIf="!submitedsuccessfully" [formGroup]="fpform" (ngSubmit)="onSubmit()" novalidate>
          <div style="height:25%;background-color: white;margin: 10%;margin-top: 5%; padding-top: 5%;margin-bottom: 3%;">
               <div class="input-field col s12" style="height: 52%;width:80%;margin-left: 10%;">
                            <i class="material-icons prefix">mail</i>
                          <input id="e_mail"  type="text"  formControlName="email" [class.invalid]="isvalidfield('email')">
                           <label for="e_mail" data-error="Email is invalid or already taken">Email</label>
                          
                            <button type="submit" class="waves-effect waves-light btn green" [disabled]="fpform.invalid" >Get Password</button>
               </div>
          </div>
          </form>        
        </div>
        <div class="col s2" style="background-color:wheat;">
          </div>
 </div>
 <style>
 .btn{
  line-height:0;
 }
.input-field label {
    width: 100%;
}
.sa-homesubheader-text{
  margin-top:2%;   
    font-weight: 500;
}
  .sa-subheaderdesc-text{
    margin-top:3%;margin-bottom:3%;font-weight:500;font-size:1.6em;
    
}

 </style>
         
         
         
        