
<div  class="row parallax" style="padding-top:5%;">
        <div class="col s4 ">
          <p class="vb-qoute" >“The only thing to do with good advice is to pass it on. It is never of any use to oneself”
           <br>
          </p>
         <p class="sa-author">
            -Oscar Wilde </p>
        </div>   
     </div>
     <div class="container">
            <div class="row" *ngFor="let specialization of distinctspecialization">
               <div class="col s12 center-align">
                   <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >{{specialization}}</h3>
               </div> 
               <div class="col s4 sa-instructor-con" *ngFor="let specialization of distinctspecialization" >
                    <div class="sa-imag-wrapper">
                       <a class="modal-trigger" href="#modal1">
                           
                    <img class="responsive-img circle" src="../../../public/images/UserPic.jpg"  >
                       </a>
                    </div>
                    <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>   
            </div>
            </div>
    
    <!-- <div class="col s12 center-align">
            <h4 class="   red-text text-darken-1" style="margin-top:3%;font-weight:180%" >FAQs</h4>
     </div>-->
     <div class="container">
     <div class="row">
        <div class="col s12 center-align">
            <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >Hindustani Classical Vocal</h3>
        </div>
         <div class="col s4 sa-instructor-con" >
             <div class="sa-imag-wrapper">
                <a class="modal-trigger" href="#modal1">
                    
             <img class="responsive-img circle" src="../../../public/images/UserPic.jpg"  >
                </a>
             </div>
             <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
            </div>
         <div class="col s4 sa-instructor-con">
                <div class="sa-imag-wrapper">
                <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
            </div>
            <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
            </div>
            <div class="col s4 sa-instructor-con">
                    <div class="sa-imag-wrapper">
                    <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                </div>
                <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
            </div>
                
     </div>
     </div>
     <div class="container">
        <div class="row">
           <div class="col s12 center-align">
               <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >Hindustani Classical Vocal</h3>
           </div>
            <div class="col s4 sa-instructor-con" >
                <div class="sa-imag-wrapper">
                <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                </div>
                <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
               </div>
            <div class="col s4 sa-instructor-con">
                   <div class="sa-imag-wrapper">
                   <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
               </div>
               <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
               </div>
             
                   
        </div>
        </div>
        <div class="container">
            <div class="row">
               <div class="col s12 center-align">
                   <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >Hindustani Classical Vocal</h3>
               </div>
                <div class="col s4 sa-instructor-con" >
                    <div class="sa-imag-wrapper">
                    <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                    </div>
                    <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>
                <div class="col s4 sa-instructor-con">
                       <div class="sa-imag-wrapper">
                       <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                   </div>
                   <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>
                   <div class="col s4 sa-instructor-con">
                           <div class="sa-imag-wrapper">
                           <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                       </div>
                       <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>
                       
            </div>
            </div>
     
       <!-- Modal Structure -->
       <div id="modal1" class="modal" >
         <div class="modal-content">
           <h4>Modal Header</h4>
           <p>A bunch of text</p>
         </div>
         <div class="modal-footer">
           <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closemodal()">Agree</a>
         </div>
       </div>
    
    <sa-footer></sa-footer>
     
        <style>
          .row{
            margin:0px;
          }
      .collapsiblebody{  background-color:rgb(255, 255, 255)
    ;
    border-bottom-color:
    rgb(221, 221, 221)
    ;
    border-bottom-style: 
    solid
    ;
    border-bottom-width:
    1px
    ;
    box-sizing:
    border-box
    ;
    color:
    rgba(0, 0, 0, 0.87)
    ;
    cursor:
    pointer
    ;
    display:
    flex
    ;
    font-family:
    Roboto, sans-serif
    ;
    font-size:
    15px
    ;
    font-weight:
    300
    ;
    height:
    55px
    ;
    line-height:
    22.5px
    ;
    list-style-type:
    none
    ;
    padding-bottom:
    15px
    ;
    padding-left:
    15px
    ;
    padding-right:
    15px
    ;
    padding-top:
    15px
    ;
    text-align:
    left
    ;
    
    width:
    1324.5px
    ;
    -webkit-tap-highlight-color:
    rgba(0, 0, 0, 0)
    ;
      }</style>
    