
<div  class="row parallax" style="padding-top:5%;">
     
     </div>
  
            <div class="row sa-rowborder-btm"  *ngFor="let instructor of instructors;">
              
               <div class="col s4 "  style="text-align: center;">
                 
                   <h3 class=" text-darken-1 sa-instsubheader-text"  >{{instructor._id}}</h3>
               </div> 
                <div class="col s2 sa-instructor-con" *ngFor="let instructorbrief of instructor.instructorbriefs ">
             <div class="sa-imag-wrapper">
                <a class="modal-trigger" href="#modal1">
                    
             <img class="responsive-img circle" src="{{instructorbrief.imageurl}}"  >
                </a>
             </div>
            <div style="padding-bottom: 8%">
             <a class=" sa-instructor-text"  [routerLink]="['/instructors', instructorbrief._id]">{{instructorbrief.firstname+" "+instructorbrief.lastname}}</a>
            </div>
            </div>
   
            </div>
           
    
    <!-- <div class="col s12 center-align">
            <h4 class="   red-text text-darken-1" style="margin-top:3%;font-weight:180%" >FAQs</h4>
     </div>-->
<!-- <div class="container">
     <div class="row">
        <div class="col s12 center-align">
            <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >Hindustani Classical Vocal</h3>
        </div>
         <div class="col s4 sa-instructor-con" >
             <div class="sa-imag-wrapper">
                <a class="modal-trigger" href="#modal1">
                    
             <img class="responsive-img circle" src="../../../public/images/UserPic.jpg"  >
                </a>
             </div>
             <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
            </div>
         <div class="col s4 sa-instructor-con">
                <div class="sa-imag-wrapper">
                <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
            </div>
            <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
            </div>
            <div class="col s4 sa-instructor-con">
                    <div class="sa-imag-wrapper">
                    <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                </div>
                <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
            </div>
                
     </div>
     </div>
     <div class="container">
        <div class="row">
           <div class="col s12 center-align">
               <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >Hindustani Classical Vocal</h3>
           </div>
            <div class="col s4 sa-instructor-con" >
                <div class="sa-imag-wrapper">
                <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                </div>
                <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
               </div>
            <div class="col s4 sa-instructor-con">
                   <div class="sa-imag-wrapper">
                   <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
               </div>
               <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
               </div>
             
                   
        </div>
        </div>
        <div class="container">
            <div class="row">
               <div class="col s12 center-align">
                   <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >Hindustani Classical Vocal</h3>
               </div>
                <div class="col s4 sa-instructor-con" >
                    <div class="sa-imag-wrapper">
                    <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                    </div>
                    <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>
                <div class="col s4 sa-instructor-con">
                       <div class="sa-imag-wrapper">
                       <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                   </div>
                   <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>
                   <div class="col s4 sa-instructor-con">
                           <div class="sa-imag-wrapper">
                           <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                       </div>
                       <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>
                    <div class="col s4 sa-instructor-con" >
                    <div class="sa-imag-wrapper">
                    <img class="responsive-img circle" src="../../../public/images/UserPic.jpg">
                    </div>
                    <a class="modal-trigger sa-instructor-text" href="#modal1">Sandesh</a>
                   </div>
                       
            </div>
            </div>-->
     
       <!-- Modal Structure -->
      <sa-instructormodal *ngIf="data" [data]="data" (close)="closemodal()"></sa-instructormodal>
    
    <sa-footer></sa-footer>
     
        <style>
          .row{
            margin:0px;
          }
      .collapsiblebody{  background-color:rgb(255, 255, 255)
    ;
    border-bottom-color:
    rgb(221, 221, 221)
    ;
    border-bottom-style: 
    solid
    ;
    border-bottom-width:
    1px
    ;
    box-sizing:
    border-box
    ;
    color:
    rgba(0, 0, 0, 0.87)
    ;
    cursor:
    pointer
    ;
    display:
    flex
    ;
    font-family:
    Roboto, sans-serif
    ;
    font-size:
    15px
    ;
    font-weight:
    300
    ;
    height:
    55px
    ;
    line-height:
    22.5px
    ;
    list-style-type:
    none
    ;
    padding-bottom:
    15px
    ;
    padding-left:
    15px
    ;
    padding-right:
    15px
    ;
    padding-top:
    15px
    ;
    text-align:
    left
    ;
    
    width:
    1324.5px
    ;
    -webkit-tap-highlight-color:
    rgba(0, 0, 0, 0)
    ;
      }</style>
    