 
 
 
<div class="row" style="height:100%;background-color:white;">
  <div class="col s6" style="padding-top:17%;text-align:right;padding-right:4%"  >
  <h2 class="red-text text-darken-1 logotext">  Ashik</h2>
  
    </div>
  
  <div class="col s3" style="background-color:white  ;padding-top:2%;margin-top:8%;margin-bottom:8%; box-shadow: 0px 0px 15px #888888;">
   
      <form  (ngSubmit)="onSubmit()" #loginForm="ngForm">
   
      <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" required [(ngModel)]="login.emailId" name="email"  #email (ngModelChange)="validateemail(email.value)"  [ngClass]="emailvalidateclass">
                    <label for="email" data-error="Email is invalid or already registered" >Email</label>
                  </div>
       </div>
      <div class="row">
                  <div class="input-field col s12">
                    <input id="password" type="password" [(ngModel)]="login.password" #password name="password"(ngModelChange)="Validatepasswordlength(password.value);" [ngClass]="passwordclass">
                    <label for="password" data-error="Password do not match or invalid">Password</label>
                  </div>
        </div>
        <div class="center">          
         <button type="submit" class="waves-effect waves-light btn green">Login</button>
         </div>
         <div class="section">
      <div class="row">
         
              
           <div class="col s7 right-align">
                <a style="font-size:12px;padding:0px;color:blue;font-weight:400;" [routerLink]="['/forgotpassword']"[queryParams]="{emailid:login.emailId}">Forgot Password?</a>
             </div>
             <div class="col s5 left-align">
               <a style="font-size:12px;padding:0px;color:blue;font-weight:400;" [routerLink]="['/register']">Register</a>
             </div>       
        </div>
      </div>
    
      </form>
    </div>
    <div class="col s3" style="background-color:wheat;">
    </div>
</div>

<sa-footer></sa-footer>

    
    <style>
      .btn{
       line-height:0;
      }
      .input-field label {
    width: 100%;
}
      </style>
    
   