 
  <div class="row" style="height:100%;background-image: url('/public/images/signup.jpg')">
        <div class="col s6" style="padding-top:14%;text-align:center;padding-right:5%;padding-left:6%"  >
        <h3 class=" pink-text text-darken-4  logotext sa-homesubheader-text"> New to S&#x0101;RANG?  </h3>
         <p class="brown-text text-darken-1 logotext sa-subheaderdesc-text">No worries! Create an account to start learning live interactive Indian Classical courses such as Hindustani, Carnatic and more </p>
        
          </div>
  
  <div class="col s4" style="background-color:white  ;padding-top:2%;margin-top:8%;margin-bottom:8%;width:30%; box-shadow: 0px 0px 15px #888888;">
    <form  (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="row">
                <div  class="input-field col s12">
                            <i class="material-icons prefix">mail</i>
                          <input id="e_mail"  type="text"  formControlName="email" [class.invalid]="isvalidfield('email')">
                           <label for="e_mail" data-error="Email is invalid or not registered">Email</label>
                          </div>
                       
        </div>
     
                <div class="row" style="margin-bottom: 20px;">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="pass_word"  type="password" formControlName="password" [class.invalid]="isvalidfield('password')">
                        <label for="pass_word" data-error="Password is wrong (>=8 and <=12)">Password</label>
                      </div>
                </div>    
     
        <div class="center">          
         <button type="submit" class="waves-effect waves-light btn green"  [disabled]="loginForm.invalid" >Login</button>
         </div>
         <div class="section">
      <div class="row">
         
              
           <div class="col s7 right-align">
                <a style="font-size:12px;padding:0px;color:blue;font-weight:400;" [routerLink]="['/forgotpassword']">Forgot Password?</a>
             </div>
             <div class="col s5 left-align">
               <a style="font-size:12px;padding:0px;color:blue;font-weight:400;" [routerLink]="['/register']">Register</a>
             </div>       
        </div>
      </div>
    
      </form>
    </div>
    <div class="col s3" style="background-color:wheat;">
    </div>
</div>

<sa-footer></sa-footer>

    
    <style>
      .btn{
       line-height:0;
      }
      .input-field label {
    width: 100%;
}
      </style>
    
   