
    <div class="row" style="height:100%;background-image: url('/public/images/signup.jpg')">
        <div class="col s6" style="padding-top:14%;text-align:center;padding-right:5%;padding-left:6%"  >
        <h3 class=" pink-text text-darken-4  logotext sa-homesubheader-text"> New to S&#x0101;RANG?  </h3>
         <p class="brown-text text-darken-1 logotext sa-subheaderdesc-text">No worries! Create an account to start learning live interactive Indian Classical courses such as Hindustani, Carnatic and more </p>
        
          </div>
        
        <div class="col s4" style="background-color:white  ;padding-top:2%;margin-top:6%;margin-bottom:8%;width:45%; box-shadow: 0px 0px 15px #888888;">
        
     <form *ngIf="!submitedsuccessfully" [formGroup]="registerform" (ngSubmit)="onSubmit()" novalidate>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" formControlName="firstname" [class.invalid]="isvalidfield('firstname')">
                        <label for="first_name" data-error="Please enter your first name (>=4 and <=12)">First Name</label>
                      </div>
                      <div id="last_name" class="input-field col s6">
                          <i class="material-icons prefix">account_circle</i>
                        <input id="last_name"  type="text"  formControlName="lastname" [class.invalid]="isvalidfield('lastname')">
                         <label for="last_name" data-error="Please enter your last name (>=2 and <=12)">Last Name</label>
                        </div>
                     </div>
                     <div class="row" style="margin-bottom: 10px;">
                      <div class="input-field col s6">
                          <i class="material-icons prefix">check_circle</i>
                          <input id="user_name" type="text" formControlName="username" [class.invalid]="isvalidfield('username')" >
                          <label for="user_name" data-error="Please enter an unique name (>=4 and <=8)">User Name</label>
                        </div>
                        <div  class="input-field col s6">
                            <i class="material-icons prefix">mail</i>
                          <input id="e_mail"  type="text"  formControlName="email" [class.invalid]="isvalidfield('email')">
                           <label for="e_mail" data-error="Email is invalid or already taken">Email</label>
                          </div>
                       </div>
                    
          <div class="row" style="margin-bottom: 10px;">
              
            
             
                <div class="col s1" style="margin-top:5%">
                <i class="material-icons prefix">wc</i>
                </div>
             <div class="col s2" style="margin-top:5%">
               <input [class]="with-gap"  formControlName="gender" type="radio" id="test1" value="M"   />
               <label for="test1">Male</label>
             </div>
             <div class="col s3" style="margin-top:5%">
               <input [class]="with-gap"  type="radio" formControlName="gender" id="test2" value="F"/>
               <label for="test2">Female</label>
             </div>
            
          <div class="col s1" style="margin-top:5%">
              <i class="material-icons prefix">all_inclusive</i>
          </div>
          <div class="input-field  col s5" >
              <select name="age_ctl" formControlName="age" materialize="material_select" [materializeSelectOptions]="agelist" [class.invalid]="isvalidfield('username')">
                  <option *ngFor="let age of agelist" [value]="age">{{age}}</option>
              </select>            
              <label for="age_ctl" data-error="Invalid" style="font-size: 1rem;">Age</label>
           </div>
         
        </div>
          <div class="row" style="margin-bottom: 10px;">
            
              <div class="col s1" style="margin-top:5%">
                  <i class="material-icons prefix">public</i>
              </div>
          <div class="input-field col s5">
              <select name="country_name" formControlName="country" materialize="material_select" [materializeSelectOptions]="countrylist" [class.invalid]="isvalidfield('username')">
                  <option *ngFor="let country of countrylist" [value]="country">{{country}}</option>
              </select>            
              <label for="country_name" data-error="Invalid" style="font-size: 1rem;">Country</label>
            </div>
          
            </div>   
        
         <div class="center">
          
         <button type="submit" class="waves-effect waves-light btn green" [disabled]="registerform.invalid" >Register</button>
         </div>
          </form>        
        </div>
        <div class="col s2" style="background-color:wheat;">
          </div>
 </div>
 <style>
 .btn{
  line-height:0;
 }
.input-field label {
    width: 100%;
}

 </style>
         
         
         
        