.vb-col{
    text-align:center;
    padding:2vw;top:0%
}
.vb-para{
    text-align:center;
    padding:1vw;
    top:0%;
    margin:0px;
}

            header{
                width: 100vw;
                position: fixed;
                z-index: 10;
            }
.vb-navlist{    
    list-style: none;
    bottom: 0px;
    right: 3vw;
    padding: 1vw;
    margin: 0px;
    position: absolute;
    text-align: right;
    width: 60vw;
    float: right;
}
li{
    display: inline;
    color: whitesmoke;
}
.vb-nav{    
    position: relative;
    height: 7vw;
    width: 100vw;
}
.vb-header{
  background-color:  #009900  ; 
}
.vb-navitems{
    padding: 1vw;
    width: 3vw;
    font-size:20px
}
.vb-login{
    position: absolute;
    float: right;
    right: 4vw;
    top: 1.5vw;
}
body{
    padding: 0px;
    margin: 0px;
}
.vb-backimage{
    background-image:url('/public/images/piano.png');
  
}