<header class="vb-header" >  
      <nav class="vb-nav">
          <a class="vb-login">login</a>
           <ul class="vb-navlist">
                   <li class="vb-navitems">
                        <a >Home <span ></span></a>
                        </li>
                        <li class="vb-navitems" >
                            <a >Link</a>
                        </li>
                        <li  class="vb-navitems">
                            <a  >Profile</a>
                        </li>
                    </ul>
                
            </nav>
 </header>
       
           <table style="width:100%;position:relative;top:7vw;">
               <tr style="text-align:center;"  class="vb-backimage">
                   <td style="padding:5vw;"> 
                       <p style="padding:5vw;color:white;font-size:30px;font-family:'Arial', Georgia, Serif;" >
                       xdfdsfdsfdsfdsfdf sdfdasfdsf <br>sdfdsfdsfd sdfdsfdsf
                           sdsadasdasdasdas weqwe asdasd</p>
                       </td>
               </tr >
                     <tr >
                      
                   <td class="vb-col">
                     <h2>
                     Mission
                     </h2>
                    <p  class="vb-para">
                        asds sadsa sdsd sdsdsad sdsdsa
                    </p>
                    
                    </td>
                        
               </tr>
                     <tr >
                     <td class="vb-col">
                       <h2>
                       About
                     </h2>
                    <p  class="vb-para">
                        asds sadsa sdsd sdsdsad sdsdsa
                    </p>
               </tr>
            
            <tr >
            <td class="vb-col">
              <h2>
              Courses
            </h2>
           <p  class="vb-para">
               asds sadsa sdsd sdsdsad sdsdsa
           </p>
      </tr>

      <tr >
            <td class="vb-col">
              <h2>
              Pepole
            </h2>
           <p  class="vb-para">
               asds sadsa sdsd sdsdsad sdsdsa
           </p>
      </tr>
      <tr >
            <td class="vb-col">
              <h2>
              Contact Us
            </h2>
           <p class="vb-para">
               asds sadsa sdsd sdsdsad sdsdsa
           </p>
      </tr>
      <tr>
            <footer style="position:relative;background-color:gray;bottom:0px;">
                <p>Copyright &copy; abc.com</p></footer>
            
      </tr>
</table>

          