       <div class="card z-depth-1">
              <div class="row" style="height:15%;padding-top:20%">
                  <div class="col s12" style="margin-top:2%;" >
                        <div style="padding-left:30%;padding-right:30%">
                             <img class="circle responsive-img" style="border-radius:50%; " src="{{profile.imagesrc}}"/>
                        </div>
                </div>
            </div>
                <div class="row">
                <div class="col s12">
                <h2>{{profile.name}}</h2>
                <p>{{profile.stream }}</p>
                 </div>
                </div>
          </div>
