
<div  class="row parallax" style="padding-top:5%;">
    <div class="col s12" style="text-align: center">
      <h1 class="sa-qoute sa-homeheader-text">About Us</h1>
      <p class="sa-homeheaderdesc-text"> We are music enthusiastic, providing online course that is one of its kinds, in diverse areas of music</p>
     
    </div>   
 </div>



<div class="container" style="width:50%;">
    <div class="row">
<div class="col s12 ">
<div style="width:100%;padding-left: 2%; border-left:5px solid red;">
<h4 class="grey-text text-darken-3 " style="font-family: SegoeiLight;margin-top: 12%;" >
  We are music enthusiastic, providing online course that is one of its kinds
</h4>
</div>
<p class="sa-desc-text"> In diverse areas of music such as Hindustani Classical, Carnatic, Ghazal and so on. Our most acclaimed staff is dedicated to empower the students with the knowledge that is best tailored to their needs
</p>
</div>
    </div>
</div>
  <div  class="row parallax-mission" style="padding-top:5%;">
 
 </div>
<!--<div class="row">
  <div class="col s12" style="height: 100px;background-color: transparent;">
  </div>
</div>-->
<div class="container" style="width:50%;">
<div class="row">
<div class="col s12 ">
  <div style="width:100%;padding-left: 2%; border-left:5px solid red;">
  <h4 class="grey-text text-darken-3 " style="font-family: SegoeiLight;margin-top: 12%;" >
  Our Mission
     </h4>
       </div>
         <p class="grey-text text-darken-3 sa-desc-text" >We believe in sharing the divinity of music, now that it is so easy in this digital era that each musical wannabe or aspirant from different part of the globe can chase his/her dream in music or pursue just for the joy of learning –. all done at the comfort of your home.
          </p>
       </div>
</div>
</div>




<sa-footer></sa-footer>
 
    <style>
      .row{
        margin:0px;
      }
  .collapsiblebody{  background-color:rgb(255, 255, 255)
;
border-bottom-color:
rgb(221, 221, 221)
;
border-bottom-style: 
solid
;
border-bottom-width:
1px
;
box-sizing:
border-box
;
color:
rgba(0, 0, 0, 0.87)
;
cursor:
pointer
;
display:
flex
;
font-family:
Roboto, sans-serif
;
font-size:
15px
;
font-weight:
300
;
height:
55px
;
line-height:
22.5px
;
list-style-type:
none
;
padding-bottom:
15px
;
padding-left:
15px
;
padding-right:
15px
;
padding-top:
15px
;
text-align:
left
;

width:
1324.5px
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
  }</style>
