

<div class="row" style="padding-top:5%;">
         <div class="col s4 ">
           <p class="vb-qoute" >“The only thing to do with good advice is to pass it on. It is never of any use to oneself dsdfsdfdsf dsfsd”
            <br>
           </p>
          <p class="sa-author">
             <i>-Oscar Wilde</i> </p>
         </div>   
      </div>
        <div class="row vb-mission"   style=" background: linear-gradient(to left, #FC5A5A,#95195B  );" >  
  <div class="col s4 center-align">
<h6 class="   white-text text-darken-1" style="margin-top:5%;margin-bottom:0px; font-weight:400" >Online Music Classes</h6>
<p class="white-text text-darken-3" style="margin:0px;margin-bottom:5%;">
  Indulge in variety of courses
 </p>
  </div>
<div class="col s4 center-align">
<h6 class="white-text text-darken-1" style="margin-top:5%;margin-bottom:0px; font-weight:400" >Expert Instruction</h6>
<p class="white-text text-darken-3" style="margin:0px;margin-bottom:5%;" >
Find a right Instructor for you
 </p>
  </div>
<div class="col s4 center-align">
<h6 class="white-text text-darken-1" style="margin-top:5%;margin-bottom:0px; font-weight:400" >Need Based Classes</h6>
<p class="white-text text-darken-3" style="margin:0px;margin-bottom:5%; " >
Learn on your schedule
 </p>
  </div>
</div>
      <div class="container">
<div class="row vb-mission"   >  
  <div class="col s12 center-align">
<h1 class="   red-text text-darken-1" style="margin-top:5%;font-weight:180%" >Mission</h1>
<p class="grey-text text-darken-3" style="margin-top:3%;margin-bottom:3%;font-weight:400;font-size:1.5em;">We 	S&#195;RANG believe in sharing the divinity of music, now that it is so easy in this digital era that each musical wannabe or
aspirer from different part of the globe can chase his/her dream in music or pursue just for the joy of learning –.
all done at the comfort of your home
 </p>


  </div>
</div>
</div>
<div class="row">
  <div class="col s12 center-align">
<h1 class="   red-text text-darken-1" style="margin-top:5%;font-weight:180%" >How S&#x0101;rang Works ?</h1>
    </div>
</div>
   <div class="row vb-mission"   >  
     
<div class="col s4 center-align">
    <div style="padding-left:30%;padding-right:30%;">                       
<img class="responsive-img" style="max-width: 60%;" src="../../../public/images/website.svg">
</div>
<p class="grey-text text-darken-3" style="margin-top:3%;margin-bottom:3%;font-weight:400;font-size:1.5em;">
  
Register
</p>
  </div>
<div class="col s4 center-align">
    <div style="padding-left:30%;padding-right:30%;">
                       
<img class="responsive-img" style="max-width: 60%;" src="../../../public/images/user.svg">
</div>
<p class="grey-text text-darken-3" style="margin-top:3%;margin-bottom:3%;font-weight:400;font-size:1.5em;">
  select the cources
or instructor
</p>
  </div>
<div class="col s4 center-align">
    <div style="padding-left:30%;padding-right:30%;">
                       
<img class="responsive-img" style="max-width: 60%;" src="../../../public/images/video-call.svg">
</div>
<p class="grey-text text-darken-3" style="margin-top:3%;margin-bottom:3%;font-weight:400;font-size:1.5em;">
schedule the classes
</p>
  </div>
   </div>








<div class="container">
<div class="row vb-mission" >  
    <div class="col s12 center-align">
  <h1 class="   red-text text-darken-1" style="margin-top:3%;font-weight:180%;" >About</h1>
 <p class="grey-text text-darken-3" style="margin-top:3%;margin-bottom:27%;font-weight:400;font-size:1.5em;">“We are music enthusiastic, providing online course that is one of its kinds, in diverse areas of music such as
Hindustani Classical, Carnatic, Guzal and so on. Our most acclaimed staff is dedicated to empower the
students with the knowledge that is best tailored to their needs”
   </p>
  
  
    </div>
  </div>
  </div>
  <div id="faqs" class="container">
  <div class="row vb-mission" style="background-color:rgb(254, 237, 253);" >    
 <!--<my-profile [isfromhomeview]="true" ></my-profile>--> 
 <vb-faqs></vb-faqs>
    
</div>
  </div>
 