

<div  class="row parallax" style="padding-top:5%;">
         <div class="col s4 ">
           <p class="vb-qoute" >“The only thing to do with good advice is to pass it on. It is never of any use to oneself”
            <br>
           </p>
          <p class="sa-author">
             -Oscar Wilde </p>
         </div>   
      </div>
        <div class="row vb-mission"   style=" background: linear-gradient(to left, #FC5A5A,#95195B  );position: relative;" >  
  <div class="col s4 center-align">
<h6 class="   white-text text-darken-1" style="margin-top:5%;margin-bottom:0px; font-weight:400" >Online Music Classes</h6>
<p class="white-text text-darken-3 sa-bottommenu-text" >
  Indulge in variety of courses
 </p>
  </div>
<div class="col s4 center-align">
<h6 class="white-text text-darken-1" style="margin-top:5%;margin-bottom:0px; font-weight:400" >Expert Instruction</h6>
<p class="white-text text-darken-3 sa-bottommenu-text" >
Find a right Instructor for you
 </p>
  </div>
<div class="col s4 center-align">
<h6 class="white-text text-darken-1" style="margin-top:5%;margin-bottom:0px; font-weight:400" >Need Based Classes</h6>
<p class="white-text text-darken-3 sa-bottommenu-text" >
Learn on your schedule
 </p>
  </div>
</div>
      <div class="container">
<div class="row vb-mission"   >  
  <div class="col s12 center-align">
<h3 class=" red-text text-darken-1 sa-homesubheader-text"  >Why S&#x0101;rang?</h3>
<p class="grey-text text-darken-3 sa-subheaderdesc-text" >We 	S&#195;RANG believe in sharing the divinity of music, now that it is so easy in this digital era that each musical wannabe or
aspirer from different part of the globe can chase his/her dream in music or pursue just for the joy of learning –.
all done at the comfort of your home
 </p>


  </div>
</div>
</div>


<div class="container">
  <div class="row vb-mission "   >  
    
  <div class="col s4 center-align">
   <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">                       
  <img class="responsive-img sa-desc-img"  src="../../../public/images/police.svg">
  </div>
  <p class="grey-text text-darken-3 sa-descheader-text" >
    <b>
   Experienced staff
   </b>
  </p>
  <p class="grey-text text-darken-3 sa-desc-text ">
    <b>
    learn from instructors who are experienced in their respective field.
    </b>
   </p>
  </div>
  <div class="col s4 center-align">
   <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">
                      
  <img class="responsive-img sa-desc-img"  src="../../../public/images/itinerary.svg">
  </div>
  <p class="grey-text text-darken-3 sa-descheader-text" >
    <b>
    Distant Learning
    </b>
  </p>
  <p class="grey-text text-darken-3 sa-desc-text ">
    <b>learn no matter where you are.</b>
   </p>
  </div>
  <div class="col s4 center-align">
   <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">
                      
  <img class="responsive-img sa-desc-img"  src="../../../public/images/hexagon.svg">
  </div>
  <p class="grey-text text-darken-3 sa-descheader-text" >
    <b>
    One-to- one training
    </b>
  </p>
  <p class="grey-text text-darken-3 sa-desc-text ">
    <b>personal attention and care. </b>
   </p>
  </div>
  </div>
  
  </div>
  <div class="container">
    <div class="row vb-mission "   >  
      
    <div class="col s4 center-align">
     <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">                       
    <img class="responsive-img sa-desc-img "  src="../../../public/images/chat.svg">
    </div>
    <p class="grey-text text-darken-3 sa-descheader-text"  >
    <b>
      Customise your learning atmosphere
      </b>
    </p>
    <p class="grey-text text-darken-3 sa-desc-text ">
      <b>one can create one’s own perfect room to learn</b>
     </p>
    </div>
    <div class="col s4 center-align">
     <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">
                        
    <img class="responsive-img sa-desc-img"  src="../../../public/images/share.svg">
    </div>
    <p class="grey-text text-darken-3 sa-descheader-text" >
      <b>
      Multiple ways to communicate the trainers
      </b>
    </p>
    <p class="grey-text text-darken-3 sa-desc-text ">
      <b>unlike in universities it is not necessary that one has to personally and formally communicate with their tutors...
      communicate
      unhesitatingly and friendly via chats, mails, etc</b>
     </p>
    </div>
    <div class="col s4 center-align">
     <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">
                        
    <img class="responsive-img sa-desc-img"  src="../../../public/images/rewind-time.svg">
    </div>
    <p class="grey-text text-darken-3 sa-descheader-text" >
      <b>
      Flexible schedule
      </b>
    </p>
    <p class="grey-text text-darken-3 sa-desc-text ">
      <b>– timetable of your classes according to your manageable times.</b>
     </p>
    </div>
    </div>
    
    </div>

<!--<div class="row">
  <div class="col s12 center-align">
<h1 class="   red-text text-darken-1" style="margin-top:5%;font-weight:180%" >How S&#x0101;rang Works ?</h1>
    </div>
</div>
   <div class="row vb-mission"   >  
     
<div class="col s4 center-align">
    <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">                       
<img class="responsive-img sa-desc-img"  src="../../../public/images/website.svg">
</div>
<h5 class="grey-text text-darken-3" style="margin-top:3%;margin-bottom:3%;">
  
  Customise your learning atmosphere
</h5>
  </div>
<div class="col s4 center-align">
    <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">
                       
<img class="responsive-img sa-desc-img"  src="../../../public/images/user.svg">
</div>
<p class="grey-text text-darken-3" >
  Multiple ways to communicate the trainers
</p>
  </div>
<div class="col s4 center-align">
    <div style="padding-left:30%;padding-right:30%;padding-bottom:10%;">
                       
<img class="responsive-img sa-desc-img"  src="../../../public/images/video-call.svg">
</div>
<p class="grey-text text-darken-3" >
  Flexible schedule
</p>
  </div>
   </div>-->








<div class="container">
<div class="row center-align" style="padding:5%;margin-bottom: 0px;padding-bottom: 0px;">  
  <div class="col s2">
    </div>
  <div class="col s8">
    <h3 class=" red-text text-darken-1 sa-homesubheader-text"  >How S&#x0101;rang Works?</h3>
  <ul style="display:inline-flex;width:100%">
    <li id="Register" class="col s2 sa-imgcir-container sa-imgcir-container-act" (click)="changestep($event)">  
      <img id="Register" class="responsive-img sa-background-img "  src="../../../public/images/Register.svg">
     <a id="Register"><b  id="Register"> STEP 1</b></a>
    </li>
     <li id="Selectacourse" class="col s2 sa-imgcir-container" (click)="changestep($event)" >
   
      <img id="Selectacourse" class="responsive-img sa-background-img"  src="../../../public/images/SelectCourse.svg" >
     <a id="Selectacourse" ><b  id="Selectacourse"> STEP 2</b></a>
    </li>
     <li id="Selectyourproficiency" class="col s2 sa-imgcir-container" (click)="changestep($event)" >
      <img id="Selectyourproficiency" class="responsive-img sa-background-img"  src="../../../public/images/Proficiency.svg">
        <a id="Selectyourproficiency" ><b  id="Selectyourproficiency"> STEP 3</b></a>
        </li>
     <li id="Startlearning" class="col s2 sa-imgcir-container" (click)="changestep($event)">
      <img id="Startlearning"  class="responsive-img sa-background-img"  src="../../../public/images/Startlearn.svg">
        <a id="Startlearning"  ><b  id="Startlearning"> STEP 4</b></a>
     </li>
       
    
    </ul>
    </div>
    <div class="col s2">
    </div>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col s12" style="text-align: center;margin-top: 0px;">
    <h5 style="font-family: hpsimplifiedlight" ><b>{{stepheading}}</b></h5>
    <p style="font-size: 1.2em;font-family: OpenSansLight;"><b>{{stepdesc}}</b></p>
    <button class="btn waves-effect waves-light green" type="submit" name="action" style="line-height: 1" [routerLink]="['/register']">Get Started
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>
 
  </div>
<!--<div class="row" style="background-color: #757074; ">
  <div class="col s4"  >
    <fieldset style="background-color: white ">
  <legend><img class="responsive-img circle" src="../../../public/images/UserPic.jpg" style="height:60px;" ></legend>
 Lisa 
  <p>fsdfdf dsfdfd dfdfd dfdsfsdf dfdfsd</p>
 </fieldset>
  </div>
<div class="col s4" >
    <fieldset style="background-color: white ">
<legend><img class="responsive-img circle" src="../../../public/images/UserPic.jpg" style="height:60px;" ></legend>
 Lisa 
  <p>fsdfdf dsfdfd dfdfd dfdsfsdf dfdfsd</p>
 </fieldset>
  </div>
<div class="col s4" >
    <fieldset style="background-color: white ">
  <legend><img class="responsive-img circle" src="../../../public/images/UserPic.jpg" style="height:60px;" ></legend>
 Lisa 
 <p>fsdfdf dsfdfd dfdfd dfdsfsdf dfdfsd</p>
 </fieldset>
  </div>
  </div>-->

  <!-- <div id="faqs" class="container">
  <div class="row vb-mission" style="background-color:rgb(254, 237, 253);" >    
//<my-profile [isfromhomeview]="true" ></my-profile>// 
 <vb-faqs></vb-faqs>
    
</div>
  </div>-->
 