
    <div class="row" style="height:100%;background-image: url('/public/images/signup.jpg')">
        <div class="col s6" style="padding-top:14%;text-align:center;padding-right:5%;padding-left:6%"  >
        <h3 class=" pink-text text-darken-4  logotext sa-homesubheader-text"> New to S&#x0101;RANG?  </h3>
         <p class="brown-text text-darken-1 logotext sa-subheaderdesc-text">No worries! Create an account to start learning live interactive Indian Classical courses such as Hindustani, Carnatic and more </p>
        
          </div>
        
        <div class="col s4" style="background-color:white  ;padding-top:2%;margin-top:10%;margin-bottom:8%;width:30%; box-shadow: 0px 0px 15px #888888;">
        
     <form [formGroup]="loginform" (ngSubmit)="onSubmit()" novalidate>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="pass_word"  type="password" formControlName="password" [class.invalid]="isvalidfield('password')">
                        <label for="pass_word" data-error="Please enter your password (>=8 and <=12)">Password</label>
                      </div>
                </div><div class="row">
                      <div id="last_name" class="input-field col s12">
                          <i class="material-icons prefix">account_circle</i>
                        <input id="confirm_password"   type="password" formControlName="confirmpassword" [class.invalid]="isvalidfield('confirmpassword')">
                         <label for="confirm_password" data-error="Password do not match">Confirm Password</label>
                        </div>
                     </div>        
   <div class="center">
    <button type="submit" class="waves-effect waves-light btn green" [disabled]="loginform.invalid" >Login</button>
         </div>
          </form>        
        </div>
        <div class="col s2" style="background-color:wheat;">
          </div>
 </div>
 <style>
 .btn{
  line-height:0;
 }
.input-field label {
    width: 100%;
}
.sa-homesubheader-text{
  margin-top:2%;   
    font-weight: 500;
}
  .sa-subheaderdesc-text{
    margin-top:3%;margin-bottom:3%;font-weight:500;font-size:1.6em;
    
}

 </style>
         
         
         
        